.favebar {
  grid-row: 1 / -1;
  grid-column: favebar-start / favebar-end;

  padding: 4rem 3.2rem;
  background-color: $color-grey-light-3;
  border-left: 1px solid $color-grey-light-1;

  @media only screen and (max-width: $bp-medium) {
    grid-column: main-start / main-end;
    grid-row: fave-start / fave-end;
    padding: 2.8rem 4.4rem;
  }

  &__content {
    width: 28rem;
    position: fixed;

    @media only screen and (max-width: $bp-medium) {
      position: static;
      width: 100%;
    }
  }

  &__header {
    position: relative;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5.8rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 2.4rem;
    }

    &::before {
      @include nav-pseudo;
      background-color: $color-grey-light-1;
      width: 100%;
      bottom: -24px;

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  // ---- LIST OF THE FAVES

  &__list {
    list-style: none;

    display: grid;
    grid-template-rows: repeat(auto-fit);
    gap: 2.4rem;
  }

  &__img {
    width: 4rem;
    border-radius: $border-radius-circle;
  }

  &__item {
    grid-column: 1/2;
    transition: all 1000ms;
    display: flex;
    justify-content: space-between;
  }

  &__item:hover .btn-remove {
    opacity: 1;
    visibility: visible;
    animation: appearance-to-left 2000ms forwards;
  }

  &__item figure {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-grey-1;

    transition: $basic-transition;
  }

  &__link:hover {
    transform: translateY(-1px);
  }

  &__link:active {
    transform: translateY(1px);
  }
}

.btn-remove {
  @include svg-button;

  color: $color-accent-red;

  opacity: 0;
  visibility: hidden;

  &:hover {
    color: $color-red;
  }

  &:active &__icon {
    transform: translateY(1px);
  }

  &__icon {
    @include basic-icon;
    transition: $basic-transition;
  }
}

// ______FOR HIDING PANEL

.fave {
  &__btn {
    position: fixed;
    top: 3rem;
    right: 4rem;

    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: $border-radius-circle;
    background-color: $color-accent-red;
    box-shadow: 0rem 0.5rem 2rem rgba($color-black, 0.15);

    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      visibility: visible;
    }
  }
}
