.favebar {
  grid-row: 1 / -1;
  grid-column: favebar-start / favebar-end;

  padding: 4rem 3.2rem;
  background-color: $color-grey-light-3;
  border-left: 1px solid $color-grey-light-1;

  // width: 0;
  // position: relative;

  &__content {
    width: 28rem;
    position: fixed;
  }

  &__header {
    position: relative;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5.8rem;

    &::before {
      @include nav-pseudo;
      background-color: $color-grey-light-1;
      width: 100%;
      bottom: -24px; // TO CHECK
    }
  }

  // ---- LIST OF THE FAVES

  &__list {
    list-style: none;

    display: grid;
    // grid-template-columns: max-content max-content;
    grid-template-rows: repeat(auto-fit);
    gap: 2.4rem;
  }

  &__img {
    width: 4rem;
    border-radius: $border-radius-circle;
  }

  &__item {
    grid-column: 1/2;
    transition: all 1000ms;
    display: flex;
    justify-content: space-between;
  }

  &__item:hover .btn-remove {
    opacity: 1;
    visibility: visible;
    animation: appearance-to-left 2000ms forwards;
  }

  &__item figure {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-grey-1;

    transition: $basic-transition;
  }

  &__link:hover {
    color: $color-green;
  }
}

.btn-remove {
  border: none;
  color: $color-accent-red;
  background-color: transparent;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;

  &:hover {
    color: $color-red;
  }

  &__icon {
    @include basic-icon;
  }
}

// ______FOR HIDING PANEL

// .fave {
//   &__btn {
//     position: fixed;
//     top: 3rem;
//     right: 3rem;

//     // padding: 3rem;
//     width: 5rem;
//     height: 5rem;
//     border: none;
//     border-radius: $border-radius-circle;

//     cursor: pointer;
//   }
// }
