.header {
  padding: 2.8rem 4.4rem 2.2rem;

  grid-row: header-start / header-end;

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: start;
      gap: 1.2rem;
    }

    &::after {
      @include nav-pseudo;
      background-color: $color-grey-light-1;
      width: 100%;
      bottom: -20px;
    }
  }
}

.searchbar {
  margin-left: auto;

  display: flex;

  @media only screen and (max-width: $bp-small) {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }

  &__input-box {
    position: relative;
    width: 24rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      width: 20rem;
    }

    &:first-child {
      margin-right: 2rem;
    }
  }

  &__input {
    padding: 1.3rem 1.6rem;
    border: 1px solid $color-grey-light-1;
    border-radius: $border-radius-6;
    background-color: $color-grey-light-3;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.47;
    width: 100%;

    transition: $basic-transition;

    // @media only screen and (max-width: $bp-small) {
    //   padding: 0.8rem 1.2rem;
    // }

    &::placeholder {
      color: $color-grey-2;
      transition: all 500ms;
    }

    &:focus {
      outline: none;
      background-color: $color-white;
    }

    &:focus::placeholder {
      opacity: 0;
      visibility: hidden;
      // color: transparent;
      transform: translateY(-3rem);
    }
  }

  // &__input:placeholder-shown + &__label {
  //   opacity: 0;
  //   visibility: hidden; //element go away from page, but visibility is not animated. so Opacity
  //   transform: translateY(-4rem);
  // }

  &__button {
    position: absolute;
    right: 1.2rem;

    color: $color-grey-2;
    border: none;
    background-color: transparent;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button:hover &__icon {
    // width: 2.8rem;
    // height: 2.8rem;
    transform: translateY(-1px);
  }

  &__button:active &__icon {
    transform: translateY(1px);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;

    cursor: pointer;

    transition: width 300ms, height 300ms, transform 300ms;
  }

  &__checkbox {
    display: none;
  }

  &__notification {
    @include notification;

    position: absolute;
    top: 0;
    left: -3.2rem;
  }
}
