.header {
  padding: 2.8rem 4.4rem 2.2rem;

  grid-row: header-start / header-end;

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      @include nav-pseudo;
      background-color: $color-grey-light-1;
      width: 100%;
      bottom: -20px; // TO CHECK
    }
  }
}

.searchbar {
  margin-left: auto;

  display: flex;

  &__input-box {
    position: relative;
    width: 24rem;

    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 2rem;
    }
  }

  &__input {
    padding: 1.3rem 1.6rem;
    border: 1px solid $color-grey-light-1;
    border-radius: $border-radius-6;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.47;
    width: 100%;

    &::placeholder {
      color: $color-grey-2;
      transition: all 500ms;
    }

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      opacity: 0;
      visibility: hidden;
      // color: transparent;
      transform: translateY(-3rem);
    }
  }

  // &__input:placeholder-shown + &__label {
  //   opacity: 0;
  //   visibility: hidden; //element go away from page, but visibility is not animated. so Opacity
  //   transform: translateY(-4rem);
  // }

  &__button {
    position: absolute;
    right: 1.2rem;

    color: $color-grey-2;
    border: none;
    background-color: $color-white;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button:hover &__icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;

    cursor: pointer;

    transition: width 300ms, height 300ms;
  }

  &__checkbox {
    display: none;
  }
}
