.container {
  display: grid;
  // grid-template-rows: minmax(min-content, 10rem) repeat(3, max-content);

  // grid-template-rows: repeat(3, max-content);

  grid-template-rows:
    [header-start] 9.8rem [header-end main-start] minmax(
      calc(100vh - 10rem),
      min-content
    )
    [main-end];

  // grid-template-rows: 10rem 1fr;
  grid-template-columns: [navbar-start] 8rem [navbar-end main-start] 1fr [main-end favebar-start] 34.4rem [favebar-end];
  // [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
  // [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
  // [center-end] minmax(6rem, 1fr) [full-end];
}

// .fave-btn:checked ~ .container {
//   grid-template-columns: [navbar-start] 8rem [navbar-end main-start] 1fr [main-end];
// }

// .fave-btn:checked ~ .container .favebar {
//   width: 0;
// }

.main-content {
  display: grid;

  grid-template-rows: [hero-start] 26rem [hero-end];
}
