.container {
  display: grid;

  grid-template-rows:
    [header-start] min-content [header-end
    main-start] min-content [main-end];
  grid-template-columns: [navbar-start] 8rem [navbar-end main-start] 1fr [main-end favebar-start] 34.4rem [favebar-end];

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: [navbar-start] 8rem [navbar-end main-start] 1fr [main-end];
    // grid-auto-columns: 0;
    grid-template-rows:
      [header-start] min-content [header-end
      main-start] min-content [main-end
      fave-start] min-content [fave-end];
  }
}

.main-content {
  grid-row: main-start / main-end;

  display: grid;
  grid-template-rows: [hero-start] min-content [hero-end];
}
