.nav {
  background-color: $color-black;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding: 3.2rem 2rem;

  position: relative;

  &__box {
    height: 100vh;
  }

  &__list {
    position: fixed;
    top: 3.2rem;
    left: 2rem;
    list-style: none;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2.4rem;
  }

  &__item {
    position: relative;

    &:first-child {
      margin-bottom: 24px;
      position: relative;

      @media only screen and (max-width: $bp-small) {
        margin-top: 24px;
        margin-bottom: 40px;
      }

      &::after {
        @include nav-pseudo;
        bottom: -24px;

        @media only screen and (max-width: $bp-small) {
          bottom: -45px;
        }
      }
    }

    &:nth-child(7) {
      margin-top: auto;
    }

    &:nth-child(8) {
      margin-bottom: 24px;
    }

    &:last-child {
      position: relative;

      &::after {
        @include nav-pseudo;
        top: -24px;
      }
    }
  }

  &__item--active &__link:link,
  &__item--active &__link:visited {
    background-color: $color-accent-green;
    border-color: $color-accent-green;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: inline-block;
    color: $color-grey-2;

    width: 4rem;
    height: 4rem;

    border: 1.5px solid $color-grey-dark;
    border-radius: $border-radius-circle;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $basic-transition;
  }

  &__link:hover &::before {
    transform: scale(1.5);
    opacity: 0;
  }

  &__link:hover {
    background-color: $color-accent-green;
    border-color: $color-accent-green;
  }

  &__link:hover &__logo {
    transform: scale(1.2);
  }

  &__link:hover &__icon {
    fill: $color-black;
  }

  &__link:active {
    background-color: $color-green;
    border-color: $color-green;
  }

  &__logo {
    width: 4rem;
    height: 4rem;
    transition: $basic-transition;
  }

  &__icon {
    @include basic-icon;
  }

  &__item--active &__link:link,
  &__item--active &__link:visited {
    background-color: $color-accent-green;
    border-color: $color-accent-green;
  }

  &__item--active &__icon {
    fill: $color-black;
  }

  // NOTIFICATION

  &__notification {
    @include notification;

    background-color: $color-red;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;

    position: absolute;
    bottom: 0;
    right: 0;
  }
}
