// MARGINS

.margin-bottom--24 {
  margin-bottom: 2.4rem;
}

.margin-bottom--16 {
  margin-bottom: 1.6rem;
}

.margin-bottom--12 {
  margin-bottom: 1.2rem;
}

.margin-bottom--4 {
  margin-bottom: 0.4rem;
}

.margin-bottom--2 {
  margin-bottom: 0.2rem;
}

// MIXINS

@mixin nav-pseudo {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: $color-grey-dark;
}

@mixin basic-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
  transition: $basic-transition;
}

@mixin notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: $border-radius-circle;
  background-color: $color-accent-red;
  color: $color-white;

  z-index: 999;
}

// @mixin img-rounded {
// }
